# unity source files
*.cginc                 text
*.compute               text linguist-language=hlsl
*.cs                    text diff=csharp
*.hlsl                  text linguist-language=hlsl
*.raytrace              text linguist-language=hlsl
*.shader                text

# unity json files
*.asmdef                eol=lf linguist-language=json
*.asmref                eol=lf linguist-language=json
*.index                 eol=lf linguist-language=json
*.inputactions          eol=lf linguist-language=json
*.shadergraph           eol=lf linguist-language=json
*.shadersubgraph        eol=lf linguist-language=json

# unity ui toolkit files
*.tss                   text diff=css linguist-language=css
*.uss                   text diff=css linguist-language=css
*.uxml                  text linguist-language=xml linguist-detectable

# unity yaml
*.anim                  merge=unityyamlmerge eol=lf linguist-language=yaml
*.asset                 merge=unityyamlmerge eol=lf linguist-language=yaml
*.brush                 merge=unityyamlmerge eol=lf linguist-language=yaml
*.controller            merge=unityyamlmerge eol=lf linguist-language=yaml
*.flare                 merge=unityyamlmerge eol=lf linguist-language=yaml
*.fontsettings          merge=unityyamlmerge eol=lf linguist-language=yaml
*.giparams              merge=unityyamlmerge eol=lf linguist-language=yaml
*.guiskin               merge=unityyamlmerge eol=lf linguist-language=yaml
*.lighting              merge=unityyamlmerge eol=lf linguist-language=yaml
*.mask                  merge=unityyamlmerge eol=lf linguist-language=yaml
*.mat                   merge=unityyamlmerge eol=lf linguist-language=yaml
*.meta                  merge=unityyamlmerge eol=lf linguist-language=yaml
*.mixer                 merge=unityyamlmerge eol=lf linguist-language=yaml
*.overrideController    merge=unityyamlmerge eol=lf linguist-language=yaml
*.playable              merge=unityyamlmerge eol=lf linguist-language=yaml
*.prefab                merge=unityyamlmerge eol=lf linguist-language=yaml
*.preset                merge=unityyamlmerge eol=lf linguist-language=yaml
*.renderTexture         merge=unityyamlmerge eol=lf linguist-language=yaml
*.scenetemplate         merge=unityyamlmerge eol=lf linguist-language=yaml
*.shadervariants        merge=unityyamlmerge eol=lf linguist-language=yaml
*.signal                merge=unityyamlmerge eol=lf linguist-language=yaml
*.spriteatlas           merge=unityyamlmerge eol=lf linguist-language=yaml
*.spriteatlasv2         merge=unityyamlmerge eol=lf linguist-language=yaml
*.terrainlayer          merge=unityyamlmerge eol=lf linguist-language=yaml
*.unity                 merge=unityyamlmerge eol=lf linguist-language=yaml

# "physic" for 3D but "physics" for 2D
*.physicMaterial        merge=unityyamlmerge eol=lf linguist-language=yaml
*.physicsMaterial2D     merge=unityyamlmerge eol=lf linguist-language=yaml

# exclude third-party plugins from github stats
Assets/Plugins/**       linguist-vendored

# in case anything breaks the fan
# https://forge.joshwel.co/mark/common/src/branch/main/Unity.gitattributes
# Assets/**/*.asset -text
